# See https://github.com/larastan/larastan
includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    tmpDir: .phpstan.result.cache
    level: 10
    paths:
        - app/
        - src/
